body {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
    font-weight: 800;
    text-align: center;
}

@media (min-width: 43.75em) {
    h2 {
        font-size: 2em;
        /* 2x body copy size = 32px */
        line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h2 {
        font-size: 2.25em;
        /* 2.25x body copy size = 36px */
        line-height: 1.25;
    }
}

.c_banner {
    position: relative;
}


.c_banner_headline {
    color: white;

}

.c_banner_para {
    text-align: center;
    color: white;
}


.c_banner_content {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


.c_banner_bg {
    height: 90vh;
    width: 100%;
    transform: skewY(-8deg);
}


#banner img {
    max-width: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (orientation: portrait){
    .c_banner_content h2 {
        margin-top: 1em;
        margin-bottom: .5em;
    }
    #banner img {
        max-width: 100px;
    }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
    .c_banner_content {
        top: 50%;
    }
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
    .c_banner_content {
        top: 40%;
    }
}

@media screen and (min-width: 1300px) and (orientation: landscape) {
    .c_banner_content {
        top: 50%;
    }
}

@media screen and (min-width: 1000px) {

    .c_banner_content h2 {
        margin-top: 1em;
        margin-bottom: .5em;
    }
    #banner img {
        max-width: 100px;
    }
}


/*--COLORS---*/

.c_banner_headline {
    color: white;
}
.c_banner_para {
    text-align: center;
    color: white;
}



#p-home #group2 .c_banner_bg{
    background: #1e88e5;
}

#p-work #group2 .c_banner_bg{
    background: #07BE64;
}

#p-about #group2 .c_banner_bg{
    background: #7b1fa2;
}

#p-process #group2 .c_banner_bg{
    background: #F5239D;
}
