body {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}


.c_banner_headline h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
    font-weight: 800;
    text-align: center;
}

@media (min-width: 43.75em) {
    .c_banner_headline h3 {
        font-size: 1.5em;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    .c_banner_headline h3 {
        font-size: 1.75em;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
    }
}



.c_banner {
    position: relative;
}


.c_banner_headline {
    color: white;

}

.c_banner_para {
    text-align: center;
    color: white;
}


.c_banner_content {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


.c_banner_bg {
    height: 90vh;
    width: 100%;
    transform: skewY(-8deg);
}


#banner img {
    max-width: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (orientation: portrait){
    .c_banner_content h3 {
        margin-top: 1em;
        margin-bottom: .5em;
    }
    #banner img {
        max-width: 100px;
    }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
    .c_banner_content {
        top: 50%;
    }
}

@media screen and (min-width: 1000px) {

    .c_banner_content h3 {
        margin-top: 1em;
        margin-bottom: .5em;
    }
    #banner img {
        max-width: 100px;
    }
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
    .c_banner_content {
        top: 40%;
    }
}

@media screen and (min-width: 1300px) and (orientation: landscape) {
    .c_banner_content {
        top: 45%;
    }
}

@media screen and (min-width: 2000px) and (orientation: landscape) {
    .c_banner_content {
        top: 50%;
    }
}





/*--COLORS---*/

.c_banner_headline {
    color: white;
}
.c_banner_para {
    text-align: center;
    color: white;
}



#p-home #group2 .c_banner_bg{
    background: #1332E7;
}

#p-work #group2 .c_banner_bg{
    background: #00A848;
}

#p-about #group2 .c_banner_bg{
    background: #56008C;
}

#p-process #group2 .c_banner_bg{
    background: #DC3997;
}
