
/*TYPOGRAPHY*/

.navbar .nav-link {
    color: white;
    font-size: 1rem;
}


#p-work .navbar { box-shadow: none !important;
    background-color: #009A43;
}

.btn { box-shadow: none !important; }

.navbar-brand {
    color: white;
}

.navbar-nav {
    margin-right: auto;
    margin-left: auto;
}


#p-work .collapse.show {
    background-color: #009A43;
    min-height: 100vh;
}


@media screen and (min-width: 568px){
    #contact.nav-link {
        display: inline-block;
        float: right;
    }
}

body {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

/* Body Content */

#page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
}

@media (min-width: 43.75em) {
    #page {
        font-size: 1em;
        /* equivalent to 16px */
        line-height: 1.375;
        /* equivalent to 22px */
    }
}

.c_hero {
    position: relative;
    height: 100vh;
}


.c_hero_headline {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
}


.c_hero_headline h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 3.5em;
    line-height: 1.25;
    text-transform: uppercase;
    color: white;
}

.c_hero_image {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translateZ(-300px) scale(.7) translateX(-50%);
    transform: translateZ(-300px) scale(.7) translateX(calc(-50% / .7));
    max-width: 90%;
}


@media screen and (min-width: 650px) {
    .c_hero_headline h1 {
        font-size: 4em;
    }
}

@media screen and (min-width: 400px) {

    .c_hero_headline h1 {
        font-size: 4.5em;
    }

}




@media screen and (min-width: 700px) {
    .c_hero_headline h1 {
        font-size: 5em;
    }
}


@media screen and (min-width: 900px) {
    .c_hero_headline h1 {
        font-size: 7em;
    }

    #p-home .c_hero_headline h1 {
        font-size: 6em;
    }
}

@media screen and (min-width: 1000px) {
    .c_hero_headline h1 {
        font-size: 9em;
    }



}

@media screen and (min-width: 1000px) and (orientation: landscape) {
    .c_hero_headline {
        top: 50%;
    }

    #p-home .c_hero_headline h1 {
        font-size: 5.5em;
    }

    .c_hero_image {
        top: 15%;
        max-width: 70%;
    }

    #p-about .c_hero_image {
        top: 10%;
    }
}



@media screen and (min-width: 1200px) and (orientation: landscape) {

    #p-home .c_hero_headline h1 {
        font-size: 6em;
    }

    .c_hero_headline h1 {
        font-size: 10em;
    }

    #p-about .c_hero_image {
        top: 10%;
    }

}

@media screen and (min-width: 1800px) and (orientation: landscape) {
    .c_hero_headline h1{
        font-size: 15em;
    }
    #p-home .c_hero_headline h1 {
        font-size: 9em;
    }

    #p-about .c_hero_image {
        top: 15%;
    }

}
/*IMAGES*/


/*COLORS*/

#p-home #group1 .parallax__layer--back {
    background: #112DD0;
}

#p-work #group1 .parallax__layer--back {
    background: #009A43;
}

#p-work h1 {
    color: #A2DABA;
}

#p-about #group1 .parallax__layer--back {
    background: #450070;
}

#p-about h1 {
    color: #E4BAFF;
}

#p-process #group1 .parallax__layer--back {
    background: #D50C81;
}

#p-process h1 {
    color: #FFC0E4;
}
