body {
    margin: 0;
}
.parallax {
    font-size: 200%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;

}

.parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2.5);
    z-index: 3;
}

.c_hero_headline {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.c_hero_image {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translateZ(-300px) scale(.7) translateX(-50%);
    transform: translateZ(-300px) scale(.7) translateX(calc(-50% / .7));
}

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#group1 {
    z-index: 4;
}


#group1 .parallax__layer--back {
    background: #039be0;
}

#group2 {
    z-index: 6;
}

#group2.parallax__group,
#group2 .parallax__layer--base {
    height: 60vh;
}

#group2 .c_banner_bg{
    background: red;
}

#group3 {
    z-index: 5;
}

#group3 .parallax__layer--base {
    background: purple;
}

.c_banner {
    position: relative;
}

.c_banner_content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}
.c_banner_headline {
    color: white;

}

.c_banner_para {
    text-align: center;
    color: white;
}

.c_banner_bg {
    height: 80vh;
    width: 100%;
    transform: skewY(-8deg);

}