body {
    margin: 0;
}
.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;

}

.parallax__group {

    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;


}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;

}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2.5);
    z-index: 3;
}

section + section {
    margin-top: 30px;
}


/* ----HERO-----------------------------------------------------------------*/

#group1 {
    z-index: 4;
}

/*---BANNER-----------------------------------------------------------------------------------------*/

#group2 {
    z-index: 6;
}

#group2.parallax__group,
#group2 .parallax__layer--base {
    height: 60vh;
}



/*--CONTENT------------------------------------------------------------------------------------------*/
#group3 {
    z-index: 5;
}

#group3.parallax__group,
#group3 .parallax__layer--base {
    height: auto;
}

#group3 .parallax__layer {
    position: static;
}

#group3 .parallax__layer--base {
    background: white;
    height: auto;
    padding-top: 250px;

}

#p-home #group3 .parallax__layer--base {
    height: 100vh;
    background-image: url("/images/background_test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 5rem;
}

/*--Footer------------------------------------------------------------------------------------------*/
#group4 {
    z-index: 5;
}

#group4.parallax__group,
#group4 .parallax__layer--base {
    height: 100px;
    background: #2A084D;
}

#group4 .parallax__layer {
    position: static;
}

#group4 p {
    color: white;
}


@media screen and (orientation: portrait) and (min-width: 375px) {
    #group3 .parallax__layer--base {
        padding-top: 350px;
    }
}

@media screen and (orientation: portrait) and (min-width: 400px) {
    #group3 .parallax__layer--base {
        padding-top: 400px;
    }
}

@media screen and (orientation: portrait) and (min-width: 500px) {
    #group3 .parallax__layer--base {
        padding-top: 450px;
    }
}

@media screen and (orientation: landscape) and (min-width: 1000px) {
    #group3 .parallax__layer--base {
        padding-top: 400px;
    }
}

@media screen and (orientation: portrait) and (min-width: 1000px) {
    #group3 .parallax__layer--base {
        padding-top: 550px;
    }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    #group3 .parallax__layer--base {
        padding-top: 500px;
    }
}

@media screen and (orientation: portrait) and (min-width: 1200px) {
    #group3 .parallax__layer--base {
        padding-top: 550px;
    }
}

@media screen and (orientation: landscape) and (min-width: 1800px) {
    #group3 .parallax__layer--base {
        padding-top: 600px;
    }
}

@media screen and (orientation: landscape) and (min-width: 2000px) {
    #group3 .parallax__layer--base {
        padding-top: 700px;
    }
}


