
#work h3 {
    text-align: center;
}

#work p {
    text-align: center;
}

#work img {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 500px) {
    #work img {
        max-height: 250px;

    }
}

@media screen and (min-width: 768px) {

    #work h3 {
        padding-top: 15%;
    }

    #work img {
        max-height: 100%;

    }

    #work .case-study-right h3 {
        text-align: right;
    }

    #work .case-study-right p {
        text-align: right;
    }

    #work .case-study-left h3 {
        text-align: left;
    }

    #work .case-study-left p {
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {

    #work h3 {
        padding-top: 25%;
    }

}
